//primary colors
$raisin-black: #363740;
$black: #252733;
$light: #DDE2FF;
$blue: #3751FF;
$yellow: #FEC400;
$green: #29CC97;
$red: #F12B2C;
$border: #DFE0EB;
$gray: #A4A6B3;

//secondary color
$secondary-color-slate:#5C667E;
$secondary-color-cloud:#BDC5D5;


//background color
$background-color-ivory:#FBFFF1;
$cultured: #F5F5F5;


//supporting background color
$support-color-background-green:rgba(21, 132, 99, 0.07);
$support-color-background-red:rgba(201, 69, 21, 0.07);

//white
$white:#FFFFFF;
