.score__board{
    background-color: #493B2A;
    padding-bottom: 10rem;
    height: 100vh;
}

.score__card{
    color: white;
    padding-top: 6rem;
    margin-bottom: 4rem;
}

.playagain__button{
    height: 2rem;
    width: 5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    color: #493B2A; 

    &:hover{
        background-color:#493B2A;
        color: white;
    }
    margin-bottom: 20rem;
}