
.home{
    height: 100vh;
    background-color: #323232;
    font-size: 4rem;
}
.homepage__btn-style{
    border-radius: 5px;
    height: 5rem;
    width: 10rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
    font-family: cursive;
    cursor: pointer;

    &:hover{
        background-color: #AFAFAF;
        color: white;
    }
}
.home__title {
    padding-top: 10rem;
    color: white;
}

.home-container__style{
    height: 100vh
}

